name: Check_firmware
on:
  workflow_dispatch:
  schedule:
    - cron: '30 1 * * *'

jobs:
  Check_firmware:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Update repositories
      run: sudo apt-get update
    - name: Get jq & curl
      run: sudo apt-get --yes install curl jq
    - name: Write newest firmware versions to file
      env:
        CONCEPT2_API_TOKEN: ${{ secrets.CONCEPT2_API_TOKEN }}
      run: |
        curl -s "https://tech.concept2.com/api/firmware/latest" -H "Authorization: Basic ""$CONCEPT2_API_TOKEN" | jq -r '.data[] | [.status, .machine, .release_date, .short_description, .files[0].name] | @tsv' > current_versions.txt
    - name: Create Pull Request
      uses: stefanzweifel/git-auto-commit-action@v6
      with:
        commit_message: Github Actions found newer firmware
